@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Mixin for MEDIA POINTS

/*

0 - 600px => Phone
600px - 900px => Tablet Portrait
900px - 1200px => Tablet Landscape
1200px - 1800px => Desktop[where our normal styles apply]
1800px+ => Big Desktop
*/

// 1em = 10px;  see bace.scss comment
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      //900px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
